<div class="example-container">
    <mat-card class="stepContainer">
        <mat-card-content>
            <h3>First Contact</h3>
            <div  cdkDropList #firstContact="cdkDropList" [cdkDropListData]="firstContactList"
            [cdkDropListConnectedTo]="[meetingScheduled,proposals,closed]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of firstContactList" cdkDrag>
                <mat-card style="margin-bottom: 2%;">
                    <mat-card-content >{{item}}</mat-card-content>
                </mat-card>
            </div>
        </div>
        </mat-card-content>
    </mat-card>

</div>

<div class="example-container">
<mat-card class="stepContainer">
    <mat-card-content>
            <h3>Meeting Scheduled</h3>
            <div cdkDropList #meetingScheduled ="cdkDropList" [cdkDropListData]="meetingScheduledList"
                [cdkDropListConnectedTo]="[firstContact,proposals,closed]" class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box"  *ngFor="let item of meetingScheduledList" cdkDrag>
                    <mat-card style="margin-bottom: 2%;">
                        <mat-card-content>{{item}}</mat-card-content>
                    </mat-card>
                </div>
            </div>
    </mat-card-content>
</mat-card>
</div>

<div class="example-container">
    <mat-card class="stepContainer">
        <mat-card-content>
                <h3>Proposal</h3>
                <div cdkDropList #proposals="cdkDropList" [cdkDropListData]="proposalList"
                    [cdkDropListConnectedTo]="[closed,firstContact,meetingScheduled]" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of proposalList" cdkDrag>
                        <mat-card style="margin-bottom: 2%;">
                            <mat-card-content>{{item}}</mat-card-content>
                        </mat-card>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
    </div>

    <div class="example-container">
        <mat-card class="stepContainer">
            <mat-card-content>
                    <h3>Closed</h3>
                    <div cdkDropList #closed="cdkDropList" [cdkDropListData]="closedList"
                        [cdkDropListConnectedTo]="[proposals,meetingScheduled,firstContact]" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of closedList" cdkDrag>
                            <mat-card style="margin-bottom: 2%;">
                                <mat-card-content>{{item}}</mat-card-content>
                            </mat-card>
                        </div>
                    </div>
            </mat-card-content>
        </mat-card>
        </div>
